<div class="row">
    <% if @neighbors %>
        <% @neighbors.each do |sig| %>
            <% sig.each do |keyid| %>
                <% name = Neighbor.to_name(keyid) %>
                <table>
                    <tr>
                        <td><button type="button" class="btn btn-info btn-xs">View Signatures</button></td>
                        <td><%= keyid %></td>
                        <td><%= name %></td>
                    </tr>
                </table>

            <!--if @famous_people.include?(name) %>-->
                <!--<div class="col-md-4"><a href="http://en.wikipedia.org/wiki/#{Neighbor.to_name(sig)"></a></div>-->
            <!-- #else %>-->
            <!-- end -->
            <% end %>
        <% end %>
    <% end %>
</div>